[submodule "modules/sniffer"]
	path = modules/sniffer
	url = https://github.com/GulrezQayyum/network-sniffer
[submodule "modules/detector"]
	path = modules/detector
	url = https://github.com/GulrezQayyum/intrusion-detection-prototype
[submodule "modules/viusalizer"]
	path = modules/viusalizer
	url = https://github.com/GulrezQayyum/network-traffic-visualizer

